{% extends 'ntnbms/base.html' %}

{% block title %}Edit Record{% endblock %}

{% block content %}

<li>View Record</li>
</ul>

</div>
  <br>

    <div class="card mx-auto"style="width: 80rem;">
      <div class="card-header text-white" style="background-color: #428bca  ">Booking Record</div>
      <div class="card-body">

        <form action="{% url 'update_record' key=booking.BID%}" method="POST" class="form-sample">
          {% csrf_token %}
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Booking ID</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.BID }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Customer ID</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.CID}}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Recipient Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.Recipient_Name }}" name="three"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number of Showing</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" value="{{ booking.Number_Of_Showing }}" name="four"/>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Air Time</label>
                <div class="col-sm-9">
                  <input type="time" class="form-control" value="{{ book.Air_Time }}" name="five"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Air Date</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" value="{{ booking.Air_Date }}" name="six"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Text Content</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.Text_Content }}" name="seven"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image Files</label>
                <div class="col-sm-9">
                  <input type="image" class="form-control" value="{{ booking.Image_File }}" name="eight"/>
                </div>
              </div>
            </div>
          </div>

                      <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Video Files</label>
                <div class="col-sm-9">
                  <input type="file" accept="video" class="form-control" value="{{ booking.Video_File }}" name="nine"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date Created</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" placeholder="YYYY-MM-DD" value="{{ booking.Date_Created }}" name="ten"/>
                </div>
              </div>
            </div>
          </div>
           <br><br>

           <button type="submit" class="btn btn-success btn-rounded">Update record</button>  
          
{% endblock %}
