
{% extends 'ntnbms/base.html' %}

{% block title %}New_Record{% endblock %}

{% block content %}



    <div class="card mx-auto"style="width: 80rem;">
      <div class="card-header text-white" style="background-color: #428bca  ">Booking</div>
      <div class="card-body">

        <form action=""class="form-sample" method="Post">   

          <br>


          <form class="form-sample" method="POST" action="/getdata/">
            <br>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Booking ID</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="BookingID" name="BookingID" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Customer ID</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="CustomerID" name="CustomerID" value="{{ customer.CID }}">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Recipient Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Recepient_Name" name="Recepient_Name" required>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Number Of Showings</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="NumberOfShowing" name="NumberOfShowing">
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"> Air Time</label>
                  <div class="col-sm-9">
                    <input type="time" class="form-control" id="Air_Time" name="Air_Time" required>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Text Content</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="TextContent" name="TextContent">
                  </div>
                </div>
              </div>
            </div>


             <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Image File</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" id="image" name="image">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Video File</label>
                  <div class="col-sm-9">
                    <input type="file" class="form-control" id="Video" name="Video">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date Created</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="DOB" placeholder="mm/dd/yyyy" name="DateCreated" required>
                  </div>

                </div>
              </div>



                        <br>
          <button class="btn btn-danger btn-rounded" type="reset">Clear</button>&nbsp;<button class="btn btn-success btn-rounded" type="submit" value="submit">Save</button>
        </form>
      </div>
    </div>

{% endblock %}
