{% extends 'ntnbms/base.html' %}

{% block title %}View{% endblock %}

{% block content %}

<li>View Record</li>
</ul>

</div>
  <br>

    <div class="card mx-auto"style="width: 80rem;">
      <div class="card-header text-white" style="background-color: #428bca  ">Booking Records</div>
      <div class="card-body">

        <form class="form-sample">
           {% csrf_token %}
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Booking ID</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" value="{{ booking.BID }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Customer ID</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" value="{{ booking.CID}}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Recipient Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.Recipient_Name }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number of Showing</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" value="{{ booking.Number_Of_Showing }}"/>
                </div>
              </div>
            </div>
          </div>



          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Air Time</label>
                <div class="col-sm-9">
                  <input type="time" class="form-control" value="{{ book.Air_Time }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Air Date</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" value="{{ booking.Air_Date }}"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Text Content</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="{{ booking.Text_Content }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image Files</label>
                <div class="col-sm-9">
                  <input type="image" class="form-control" value="{{ booking.Image_File }}"/>
                </div>
              </div>
            </div>
          </div>

                      <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Video Files</label>
                <div class="col-sm-9">
                  <input type="file" accept="video" class="form-control" value="{{ booking.Video_File }}"/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date Created</label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" placeholder="YYYY-MM-DD" value="{{ booking.Date_Created }}"/>
                </div>
              </div>
            </div>
          </div>


{% endblock %}
